---
title: Next Steps
owner: Tobias Fuhrimann
---

You now know how to deploy an app, change its configuration, view logs, scale, and bind it to services.

Here’s some recommended reading. The first one describes the buildpack which Cloud Foundry uses to bootstrap Python applications. The second one is a collection of factors you should consider when creating a modern cloud-native application.

* <a href="../buildpacks/python/index.html" target="_blank">Python Buildpack</a>
* <a href="http://12factor.net" target="_blank">12 facfors for cloud-native apps</a>
