---
title: Prepare the App
owner: Tobias Fuhrimann
---

<strong><%= modified_date %></strong>

In this step, you will prepare a simple application that can be deployed.
Execute the following commands to clone the sample application:

<pre class="terminal">
$ git clone https://github.com/swisscom/cf-sample-app-python.git
$ cd cf-sample-app-python
</pre>

You now have a functioning git repository that contains a simple <a href="http://flask.pocoo.org/" target="_blank">Flask</a> application as well as a `requirements.txt` file, which is used by Python's dependency manager pip.

<div style="text-align:center;margin:3em;">
  <a href="./deploy.html" class="btn btn-primary">I cloned the App source</a>
</div>
