---
title: Run the App Locally
owner: Tobias Fuhrimann
---

<strong><%= modified_date %></strong>

Now start your application locally using the `python` command:

<pre class="terminal">
$ python hello.py
 * Running on http://0.0.0.0:3000/ (Press CTRL+C to quit)
</pre>

Open <a href="http://localhost:3000" target="_blank">http://localhost:3000</a> with your web browser. You should see your app running locally.

To stop the app from running locally, in the CLI, press `Ctrl+C` to exit.

<div style="text-align:center;margin:3em;">
  <a href="./push-changes.html" class="btn btn-primary">I can run my App locally</a>
</div>
